<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="dbConfig" connectionString="Host=localhost;Username=admin;Password=1234;Database=TourPlaner" />
		<add name="userPath" connectionString="C:\Users\Gregor\source\repos\TourPlaner\" />
	</connectionStrings>
	<appSettings>
		<add key="mqKey" value="8O7UfQqRKqYcc4gvWcnAeYCNCOmKmKxn"/>
	</appSettings>
</configuration>